<!DOCTYPE html>
<html>
        <head>
                <title>Add books</title>
                <style>
                div {
                        float:left;
                        width: 100%;
                        margin-bottom: 5px;
                }
                </style>
        </head>
        <body>
                <h1>Add a book</h1>
                <p>Add a book to the database</p>
                <form method="POST" action="/bookadded">
                        <div><input id="name" type=text" name="name" placeholder="Book Name"/></div>
                        <div><input id="price" type="number" name="price" min="0.01" max="99999.99" step="0.01" placeholder="Book Price"/></div>
                        <div><input type="submit" value="Add Book"></div>
                </form>
        	<a href='./'>Home</a>
	</body>
</html>

