<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="styles.css">
		<title>Home</title>
	</head>
	<body>
		<h1>Home Page</h1>
		<p>This is an example paragraph. Anything in the <strong>body</strong> tag will appear on the page, just like this <strong>p</strong> tag and its contents.</p>
		<a href='/login'>Log In</a>
		<a href='/register'>Register</a>
		<a href='/addbook'>Add book</a>
		<a href='/list'>List</a>
		<a href='/search'>Search</a>
		<a href='/weather'>Weather</a>
		<a href='/api'>API</a>
		<a href='/logout'>Log Out</a>
	</body>
</html>
