<!DOCTYPE html>
<html>
	<head>
		<title>Login page</title>
		<style>
		div {
			float:left;
			width: 100%;
			margin-bottom: 5px;
		}
		</style>
	</head>
	<body>
		<h1>Login</h1>
		<p>Login to your account here</p>
		<form method="POST" action="/loggedin">
			<div><input id="username" type=text" name="username" placeholder="Username"/></div>
			<div><input id="password" type="text" name="password" placeholder="Password"></div>
			<div><input type="submit" value="Log In"></div>
		</form>
	</body>
</html>
