<!DOCTYPE html>
<html>
        <head>
                <link rel="stylesheet" type="text/css" href="styles.css">
                <title>Search for books</title>
        </head>
        <body>
                <h1>This is the search page for the bookshop</h1>
                <p>This is an example paragraph</p>
                <form action="/list" method="GET">
                        <input id="search-box" type="text" name="keyword" value="Default">
                        <input type="submit" value="OK">
                </form>
        </body>
</html>

